<!-- 使用指南 -->
<!DOCTYPE html>
<html>
<head>
    <% include header.ejs %>
</head>
<body>
<% include navbar.ejs %>
<main class="bs-docs-masthead" id="content" role="main">
    <div class="container">
        <form class="form form-horizontal">
            <div class="page-header">
                <p class="lead">使用指南</p>
            </div>
        </form>
    </div>
</main>
</body>
</html>