<!-- 使用指南 -->
<!-- 用户登录 -->
<!DOCTYPE html>
<html>
<head>
    <% include header.ejs %>
</head>
<body>
<% include navbar.ejs %>
<main class="bs-docs-masthead" id="content" role="main">
    <div class="container">
        <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline">小助手</span>
        <p class="lead">Node.js 小助手，时刻在您身边 。它， 比我更懂你 ！</p>
    </div>
</main>
</body>
</html>