<!-- Docs master nav -->
<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Node小助手</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/modules/">社区模块</a>
                </li>
                <li>
                    <a href="/example/">项目案例</a>
                </li>
                <li>
                    <a href="/question/">常见问题</a>
                </li>
                <li>
                    <a href="/source/">参考资料</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login/">登录</a></li>
                <li><a href="/register/">注册</a></li>
                <li><a href="/feedback/">反馈</a></li>
                <li><a href="/guide/">指南</a></li>
            </ul>
        </nav>
    </div>
</header>