<!DOCTYPE html>
<html>
<head>
    <% include ../header.ejs %>
</head>
<body>
<% include ../navbar.ejs %>

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <form  action="/source/search" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-blue"><span class="glyphicon glyphicon-search"></span>&nbsp; 搜索 &nbsp;</button>
                        </div><!-- /btn-group -->
                    </div><!-- /input-group -->
                </form>
            </div>
            <div class="col-sm-6">
                <p class="lead">
                    <span class="label label-danger">express</span>
                    <span class="label label-warning">mongodb</span>
                    <span class="label label-primary">mysql</span>
                    <span class="label label-success">async</span>
                    <span class="label label-info">request</span>
                </p>
            </div>
        </div>


    </div>

</div>

<div class="container projects">
    <div class="row">
        <div class="col-lg-9">
            <ul class="list-group">
                <li class="list-title list-group-item">常见问题</li>
                <li class="list-group-item">
                    <a href="">express框架</a>
                    <span class="right">2014-02-35</span>
                </li>
                <li class="list-group-item">
                    <a href="">express框架</a>
                </li>
                <li class="list-group-item">
                    <a href="">express框架</a>
                </li>
                <li class="list-group-item">
                    <a href="">express框架</a>
                </li>
                <li class="list-group-item">
                    <a href="">express框架</a>
                </li>
                <li class="list-group-item">
                    <a href="">express框架</a>
                </li>
                <li class="list-group-item">
                    <a href="">express框架</a>
                </li>
                <li class="list-group-item">
                    <a href="">express框架</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul class="list-group">
                <li class="list-title list-group-item">常见问题</li>
                <li class="list-group-item">
                    <a href="">express框架</a>
                    <span class="right">2014-02-35</span>
                </li>
                <li class="list-group-item">
                    <a href="">express框架</a>
                    <span class="right">2014-02-35</span>
                </li>
                <li class="list-group-item">
                    <a href="">express框架</a>
                    <span class="right">2014-02-35</span>
                </li>
                <li class="list-group-item">
                    <a href="">express框架</a>
                    <span class="right">2014-02-35</span>
                </li>
            </ul>

            <ul class="list-group">
                <li class="list-title list-group-item">常见问题</li>
                <li class="list-group-item">
                    <a href="">express框架</a>
                    <span class="right">2014-02-35</span>
                </li>
            </ul>

            <ul class="list-group">
                <li class="list-title list-group-item">常见问题</li>
                <li class="list-group-item">
                    <a href="">express框架</a>
                    <span class="right">2014-02-35</span>
                </li>
            </ul>
        </div>
    </div>
</div><!-- /.container -->


<% include ../footer.ejs %>
</body>

</html>
